.App {
  display: inline-block;
  margin: 25px auto 15px;
  padding: 0 16px;
  max-width: 960px;
  letter-spacing: normal;
}

.bitfliphorizontal {
  display: inline-flex;
}

.bitslabel {
  font-weight: bold;
}